---
import Layout from '@layouts/Default.astro';

import CodeCopy from '@components/misc/CodeCopy.astro';
---

<Layout title="Donate | Nebula" description="My donation links and crypto addresses.">
    <h1 class="text-5xl font-bold mb-6">Donate</h1>

    <!-- Normal -->
    <h2 class="text-2xl font-bold mb-3">Normal</h2>
    <a href="https://github.com/sponsors/itsnebulalol">GitHub Sponsors</a>
    <a href="https://paypal.me/itsnebulalol">PayPal</a>

    <!-- Crypto -->
    <h2 class="text-2xl font-bold mt-3 mb-3">Crypto</h2>
    <p>Bitcoin: <CodeCopy text="1nebuXVdkJKNVNhrcfKgEhwEk9b1FeNq9" /></p>
    <p>EVM Coins: <CodeCopy text="0x2B516DD3C691aCcD655c58a58b45B7Bf9046509f" /></p>
    <p>Litecoin: <CodeCopy text="ltc1qagm702gmktckvgr6vmspcaspn9g5nxy3vuxrvw" /></p>
    <p>Solana: <CodeCopy text="Azg7t6qNbL5xCcDxawVQW7GMVsTYuv1xZ2hifj4ovRK5" /></p>
</Layout>
