---
interface Props {
    name: string;
    href: string;
    icon: string;
}
const { name, href, icon } = Astro.props;

import { Icon } from 'astro-icon';
---

<a
    aria-label={name}
    class="cursor-pointer fill-current focus:outline-none transition duration-300 ease-in-out hover:text-indigo-900 dark:hover:text-indigo-200"
    href={href}
    rel="noopener noreferrer"
    target="_blank"
>
    <Icon name={icon} class="fill-gray-800 dark:fill-white h-[1.8em] w-[1.8em] inline" />
</a>
