---
import ProjectCard from '@components/cards/ProjectCard.astro';
---

<h3 class="font-medium mt-12">Projects</h3>
<p class="mb-4">These are projects that I have either created, or contributed in. I only feature my projects that I like here.</p>
<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <ProjectCard repo="palera1n/palera1n" />
    <ProjectCard repo="permasigner/permasigner" />
    <ProjectCard repo="itsnebulalol/itsnebula.net" />
    <ProjectCard repo="itsnebulalol/modempatcher" />
</div>
