---
import SkillCard from '@components/cards/SkillCard.astro';
---

<h3 class="font-medium mt-12">Skills</h3>
<p class="mb-4">These are tools or languages that I'm either fluent in, or have a decent amount of experience with.</p>
<div class="grid grid-cols-1 md:grid-cols-4 gap-6">
    <SkillCard name="VS Code" icon="logos:visual-studio-code" />
    <SkillCard name="Figma" icon="logos:figma" />
    <SkillCard name="Javascript" icon="logos:javascript" />
    <SkillCard name="Typescript" icon="logos:typescript-icon" />
    <SkillCard name="Python" icon="logos:python" />
    <SkillCard name="Firebase" icon="logos:firebase" />
    <SkillCard name="HTML" icon="logos:html-5" />
    <SkillCard name="Tailwind" icon="logos:tailwindcss-icon" />
    <SkillCard name="Fastify" icon="logos:fastify-icon" />
    <SkillCard name="React" icon="logos:react" />
    <SkillCard name="Docker" icon="logos:docker-icon" />
    <SkillCard name="Astro" icon="logos:astro-icon" />
</div>