---
interface Props {
    title?: string;
}
const { title } = Astro.props;
        
import '@styles/global.css';

import Meta from '@components/misc/Meta.astro';
import Header from '@components/elements/Header.astro';
import Footer from '@components/elements/Footer.astro';
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-200 dark:bg-gray-950 text-black dark:text-white scrollbar scrollbar-thumb-gray-400 dark:scrollbar-thumb-gray-900">
    <head>
        <Meta title={title || "Nebula"} />
    </head>

    <body class="p-[50px]">
        <a rel="me" href="https://procursus.social/@nebula" style={{"display": "none"}}></a>
        
        <Header />
        
        <main>
            <slot />
        </main>

        <Footer />
    </body>
</html>
